<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Benimle iletişime geçin</h2>
                    <p>
                        Aklınızdaki web proje fikirlerinizi beraber hayata geçirmek için bana ulaşabilirsiniz. 
                    </p>
                    <p><a href="#" class="btn btn-primary">İletişim</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Linkler</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Anasayfa</a></li>
                        <li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>Hakkımda</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Servisler</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projeler</a></li>
                    </ul>
                </div>
            </div>
          
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Sorularınız mı var?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+123 445 4567</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">hi@mecebi.com.tr</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Mustafa Emir Çebi
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

<script src="~/Template/js/jquery.min.js"></script>
<script src="~/Template/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/Template/js/popper.min.js"></script>
<script src="~/Template/js/bootstrap.min.js"></script>
<script src="~/Template/js/jquery.easing.1.3.js"></script>
<script src="~/Template/js/jquery.waypoints.min.js"></script>
<script src="~/Template/js/jquery.stellar.min.js"></script>
<script src="~/Template/js/owl.carousel.min.js"></script>
<script src="~/Template/js/jquery.magnific-popup.min.js"></script>
<script src="~/Template/js/jquery.animateNumber.min.js"></script>
<script src="~/Template/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/Template/js/google-map.js"></script>
<script src="~/Template/js/main.js"></script>
