
@{
    ViewBag.Title = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Slider Ekle</h2>


<form method="Post">
    <label>Başlık</label>
    <input type="text" class="form-control" name="FeatureTitle" />

    <label>Açıklama</label>
    <input type="text" class="form-control" name="FeatureDesc" />

    <label>Resim</label>
    <input type="text" class="form-control" name="FeatureImg" />

    <button class="btn btn-info mt-5">Slider Ekle</button>

</form>
